# SPDX-FileCopyrightText: 2026 karl_dev1229 <karl1229idk@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
default.project.json

note.txt

ttb.rbxm
